{{!-- Eshton Stuff --}}
{{!--
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"
    rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
--}}


<link rel="stylesheet" href="static/Chosen/docsupport/style.css">
<link rel="stylesheet" href="static/Chosen/docsupport/prism.css">
<link rel="stylesheet" href="static/Chosen/chosen.css">

<script src="static/Chosen/docsupport/jquery-3.2.1.min.js" type="application/javascript"></script>
<script src="static/Chosen/chosen.jquery.js" type="application/javascript"></script>
<script src="static/Chosen/docsupport/prism.js" type="application/javascript" charset="utf-8"></script>
<script src="static/Chosen/docsupport/init.js" type="application/javascript" charset="utf-8"></script>

<script>
    $(document).ready(function () {
        $("#generatePromotionCodeButton").click(function () {

            $.ajax({
                url: '/promotion/generateCode',
                type: 'POST',
                contentType: false,
                processData: false,
                'success': (res) => {
                    $('#PromotionCode').attr('value', res.response);
                    $('#PromotionCode').attr('disabled','disabled');

                }
            })
        });

        $('#mselect').chosen();

    });

</script>

<form action="/promotion/createPromotions" method="post" id="addPromotionForm">

    <legend>
        <center>
            <h2><b>Create Promotion Form</b></h2>
        </center>
    </legend><br>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Name </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="PromotionName" placeholder="Promotion Name" class="form-control" type="text"
                    id="PromotionName" value="{{PromotionName}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Limit Users</label>
        <div class="col-md-4 inputGroupContainer">
            
            <div class="input-group">
                <select id="mselect" multiple="" style="width: 300px;">
                    {{!-- {{#each user}}
                        <option value="{{datavalues.email}}">{{datavalues.email}}</option>
                    {{/each}} --}}
                    <option value="">Option 1</option>
                    <option value="">Oprion 2</option>
                </select>
            </div>
        </div>
    </div>
    {{!-- <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
            <input name="EmailLimit" placeholder="" class="form-control" type="text" id="EmailLimit"
                value="{{EmailLimit}}">
        </div>
    </div> --}}
   

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Redemption Per Person</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="RedemptionPerPerson" placeholder="Redemption Per Person" class="form-control" type="number"
                    id="RedemptionPerPerson" min="1" value="{{RedemptionPerPerson}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Total Redemption</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="TotalRedemption" placeholder="Total Redemption" class="form-control" type="number"
                    id="TotalRedemption" min="1" value="{{TotalRedemption}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Amount </label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="PromotionAmount" placeholder="Promotion Amount" class="form-control" type="number"
                    id="PromotionAmount" min="0" value="{{PromotionAmount}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Promotion Code</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="PromotionCode" placeholder="Promotion Code" class="form-control" type="text"
                    id="PromotionCode" value="{{PromotionCode}}">
                    <button type="button" id="generatePromotionCodeButton">Generate Code</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Purpose</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>

                <textarea name="Purpose" placeholder="Purpose" id="Purpose" cols="30" rows="10">{{Purpose}}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">Start Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="StartOfPromotion" placeholder="StartOfPromotion" class="form-control" type="date"
                    id="StartOfPromotion" value="{{defaultStartDate}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label">End Date</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                <input name="EndOfPromotion" placeholder="EndOfPromotion" class="form-control" type="date"
                    id="EndOfPromotion" value="{{endDate}}">
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 col-lg-12 control-label"></label>
        <div class="col-md-4"><br>
            <button type="submit" class="btn btn-warning" id="butAddPromotion">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                    class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </button>
        </div>
    </div>

</form>

{{!-- Eshton Stuff --}}

{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
--}}