<h1>Update Promotion Form</h1>

<form action="/saveEditedPromotion/{{promotion.id}}?_method=PUT" method="post" id="addPromotion">

    <div class="form-group">
        <label>Promotion Name: </label>
        <input type="text" name="PromotionName" id="PromotionName" required value="{{promotion.PromotionName}}">
    </div>

    <div>
        <label>Requirements: </label>
        <input type="text" name="EmailLimit" id="EmailLimit" value="{{promotion.EmailLimit}}">
        <input type="number" name="RedemptionPerPerson" id="RedemptionPerPerson"  min="1" value="{{promotion.RedemptionPerPerson}}">
        <input type="number" name="TotalRedemption" id="TotalRedemption"  min="1" value="{{promotion.TotalRedemption}}">
    </div>

    <div>
        <label>Promotion Amount: </label>
        <input type="number" name="PromotionAmount" id="PromotionAmount" required  min="1" max="100" value="{{promotion.PromotionAmount}}">
        {{!-- Consider being able to put it to percentage --}}
    </div>

    <div>
        <label>Promotion Code: </label>
        <input type="text" name="PromotionCode" id="PromotionCode" required value="{{promotion.PromotionCode}}">
        {{!-- Can add the checker to make sure is unique or is if previous is not in use --}}
    </div>

    <div>
        <label>Purpose: </label>
        <textarea name="Purpose" id="Purpose" cols="30" rows="10">{{promotion.Purpose}}</textarea>
    </div>

    <div>
        <label>Start of Promotion: </label>
        <input name="StartOfPromotion" id="StartOfPromotion" readonly value="{{formatDate promotion.StartOfPromotion 'DD/MM/YYYY'}}">
    </div>

    <div>
        <label>End of Promotion: </label>
        <input name="EndOfPromotion" id="EndOfPromotion" readonly value="{{formatDate promotion.EndOfPromotion 'DD/MM/YYYY'}}">
    </div>

    <br>
    <button id="butAddVideo" type="submit" class="btn btn-primary">Save
    </button>
</form>

<script>
	$('#StartOfPromotion').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
	});
    $('#EndOfPromotion').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
	});
</script>