<div class="container">
{{#if inventorys}}
	<div class="card card-body">
		<h3 class="text-primary">Ingredient List</h3>
		{{#each inventorys}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{itemName}}</h5>
				</div>
				<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-2">
						<a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster Unavailable" class="img-thumbnail img-fluid">
						</a>
					</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-arial">Type of Ingredient</p>
							<p class="text-info">
								{{ingredientType}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-arial">Price (per unit)</p>
							<p class="text-info">
								{{price}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-arial">Total Price (SGD)</p>
							<p class="text-info">
								{{totalPrice}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-arial">Quantity</p>
							<p class="text-info">
								{{quantity}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Supplier Name</p>
							<p class="text-info">{{supplierName}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Supplier Phone Number</p>
							<p class="text-info">
								{{supplierPhoneNumber}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Check By Staff Name</p>
							<p class="text-info">{{checkedByStaffName}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Import Date</p>
							<p class="text-info">{{formatDate importDate 'DD MMM YYYY'}}
							</p>
						</div>
							<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Expiry Date</p>
							<p class="text-info">{{formatDate expiryDate 'DD MMM YYYY'}}
							</p>
						</div>
							<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial">Status</p>
							<p class="text-info">{{status}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-arial"></p>
							<a href="/inventory/edit/{{id}}" class="card-link">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
							<a href="/inventory/delete/{{id}}" class="card-link" data-toggle="confirmation"
							   data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</div>
					</div>

				</div>

				<div class="accordion" id="descriptionAccordion{{id}}">
					<div class="card-header" id="headingOne{{id}}">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne{{id}}"
								aria-expanded="false" aria-controls="collapseOne{{id}}">
							Description <i class="fas fa-chevron-down"></i>
						</button>
					</div>
					<div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne{{id}}"
						 data-parent="#descriptionAccordion{{id}}">
						<div class="card-body">
							{{description}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No Ingredient</h3>
{{/if}}


